body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 10px;

}

.container{
    background: rgb(251, 234, 241);
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

h1{
    font-family: "Nico Moji";
    font-size: 40px;
    text-align: center;
    
}

p{
    font-family: "Nico Moji";
    font-size: 25px;
     position: relative;
     top: -100px;
     left: 0px;

}

#addItemFrom{
    display: flex;
    margin-bottom: 10px;
}


#itemInput{
    position: relative;
    top: -10px;
    left: 0px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius:4px 0 0 4px;
}

#addItemForm button{
    position: relative;
    top: -120px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;


}
#ClearButton button{
    position: relative;
    top: -110px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;

}
#shoppingList{
position: relative;
top: -110px;
left: 0px;
List-style: none;
padding: 0;

}

#shoppingList Li{
    padding:10px;
    border-bottom:1px solid #d4cfcf;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background- 0.2s;

}

#shoppingList Li:last-Child{
    border-bottom: none;
}

#shoppingList li:hover{
    border-color: #f9f9f9;
}

.item-text.completed{
    text-decoration: line-through;
}

.delete-btn{
    color: #fff;
    background-color:#d9534f;
    border: none;
    border-radius:4px;
    cursor: pointer;

}

img{
    position: relative;
    top: -150px;
    left: 100px;
    width: 150px
}

#memo{

    position: relative;
    top: 70px;
    left: 0px;
    width: 150px;
    height: 40px;
    padding: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
}




